ul{
    list-style-type: none;
}

*{
    box-sizing: border-box;
}

a{
    color: black;
}

li{
    float: right;
    margin: 10px;
    margin-top: -28px;
}

div{
    background-color: blue;
    width: 60vw;
    height: 20vw;
    margin-bottom: 30px;
}

h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 5px;
}

p{
    color: white;
    font-size: 23px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#heading{
    color: black;
    font-size: 30px;
    margin-top: -5px;
    margin-left: -5px;
}

img{
    margin-top: 10px;
}