img{
    width: 10vw;
}

table{
    width: 60vw;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 80vw;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1:hover{
    color: blue;
}

thead{
    height: 3vw;
    background-color: grey;
}

thead th:hover{
    background-color: red;
    cursor: no-drop;
}

img{
    object-fit: cover;
}

th, td{
    border: solid 2px black;
}

th:hover{
    background-color: navy;
}