div{
    text-align: center;
    margin-top: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: dimgray;
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 5vw;
}
