body{
    background-color: darkcyan;
}

p{
    font-size: 100px;
    text-align: center;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: aquamarine;
    font-size: 50px;
    margin-left: 45vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover{
    color: darkblue;
}