body{
    background-color: grey;
}

#salam{
    color: white;
}

#sagol{
    color: gold;
}

#necesen{
    color: greenyellow;
}

#ilkin{
    color: firebrick;
}

#oxumaq{
    color: aqua;
}

#salam:hover{
    font-size: 30px;
    color: darkslategrey;
}

#sagol:hover{
    font-size: 30px;
    color: green;
}

#necesen:hover{
    font-size: 30px;
    color: aquamarine;
}

#ilkin:hover{
    font-size: 30px;
    color: blue;
}

#oxumaq:hover{
    font-size: 30px;
    color: blueviolet;
}

p{
    cursor: pointer;
}

a{
    color: mediumspringgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover{
    color: dodgerblue;
}