h1{
    font-family: Arial, Helvetica, sans-serif;
}

#IphoneXR{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    width: 600px;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

#Iphone11{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

#GalaxyA10{
    background-color: moccasin;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

#GalaxyA50{
    background-color: darkturquoise;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

#GalaxyA20{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    padding-top: 20px;
}