body{
    background-color: lightskyblue;
    background-image: url(./css-logo.png), url(./download\ \(4\).png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left, bottom right;
    background-size: 10%, 17%;
}

div{
    background-color: white;
    width: fit-content;
    text-align: center;
    margin-left: 27vw;
    margin-top: 10vw;
    padding: 15px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}