#sekil2{
    margin-left: 180px;
    width: 70vw;
    margin-top: -2000px;
    margin-bottom: 580px;
}

#sekil3{
    margin-left: 370px;
    width: 70vw;
    margin-top: -2000px;
    margin-bottom: 50px;
}

h1{
    color: rgb(29, 255, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: green;
}

body{
    background-color: rgb(57, 212, 126);
}

h3{
    color: forestgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3:hover{
    color: greenyellow;
}

ul{
    color: rgb(96, 96, 96);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul:hover{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

a{
    color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    color: lime;
    font-style: italic;
}