body{
    background-color: rgb(67, 99, 87);
}

h1{
    color: cadetblue;
    background-color: rgb(76, 129, 98);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: lightsteelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    color: rgb(22, 53, 22);
    font-family: Arial, Helvetica, sans-serif;
}

ul:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

h3:hover{
    color: aliceblue;
}

a{
    color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    color: greenyellow;
    font-style: italic;
}

#sekil4{
    width: 60vw;
    margin-left: 30vw;
    margin-top: -70vw;
    height: 55vw;
}

