#sekil{
    width: 67vw;
    height: 640px;
    margin-left: 31vw;
    margin-top: -1000px;
}

h1{
    color: rgb(0, 195, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blue;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
}

h3:hover{
    color: darkslategrey;
}

body{
    background-color: deepskyblue;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}

ul:hover{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    color: blue;
    font-style: italic;
}

mark{
    background-color: blue;
}