h1{
    text-align: center;
}

*{
    box-sizing: border-box;
}

#div1{
    background-color: red;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 4px;
}

#div1:hover{
    background-color: blue;
    color: aqua;
}

#div2{
    background-color: yellow;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 35px;
    padding-left: 4px;
}

#div2:hover{
    border: 3px ridge red;
}

#div3{
    background-color: blue;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 35px;
    padding-left: 4px;
}

#div3:hover{
    border-radius: 30px;
}

#div4{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 40px;
    padding-left: 4px;
}

#div4:hover{
    color: white;
}