body{
    background-color: indigo;
}

.aqua-başlığ{
    color: aqua;
    text-align: center;
}

.white-letters{
    color: white;
}

.blackbg{
    background-color: black;
}

.graybg{
    background-color: gray;
    text-align: center;
}

#black-letters{
    color: black;
}

#textalign-right{
    text-align: right;
}

.bluebg{
    background-color: blue;
}

.redletters{
    color: red;
    text-align: right;
}