h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 25vw;
}

#div1{
    margin-left: 10vw;
}

input{
    border: none;
    background-color: rgb(128, 128, 128, 0.1);
    width: 20vw;
    height: 35px;
    display: block;
    margin-bottom: 10px;
}

textarea{
    width: 20vw;
    height: 25vh;
    border: none;
    background-color: rgb(128, 128, 128, 0.1);
}

#div2{
    margin-left: 45vw;
    margin-top: -29vw;
}

button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 2px; 
    display: block;
    margin-top: 5px;
}

a{
   color: white;
   text-decoration: none;
}

textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}