*{
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body{
    background-color: yellowgreen;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div{
    background-color: white;
    width: 60vw;
    margin: 0 auto;
    padding: 35px;
}

img{
    width: 20vw;
    padding-top: 40px;
    float: left;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 60%; 
}