h1{
    color: green;
}

*{
    width: 50vw;
}

#faded-red{
    background-color: rgb(255, 0, 0, 0);
}

#red{
    background-color: rgb(255, 0, 0);
}

#faded-green{
    background-color: rgb(0, 255, 0, 0.3);
}

#green{
    background-color: rgb(0, 255, 0);
}

#faded-blue{
    background-color: rgb(0, 0, 255, 0.4);
}

#blue{
    background-color: rgb(0, 0, 255);
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
}

a:hover{
    text-decoration: underline;
}