h1{
    color: white;
    text-align: center;
    margin-top: 15vw;
}

body{
    background-image: url(/newyork.jpg);
    background-repeat: none;
    background-size: cover;
}

P{
    text-align: center;
    color: white;
}

button{
    border-radius: 5px;
    padding: 7px;
    width: 7vw;
    margin-left: 45vw;
}

a{
    margin-left: 43.7vw;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}

a:hover{
    text-decoration: underline dashed;
}